ol{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
li span{
    width: 100%;
    text-align: left;
    display: block;
}
.yellow{
    background: red;
    color: white;
}
.red{
    background: red;
    color: white;
}
span{
    width: 100%;
}