button('(click)'='allOn()') All On
button('(click)'='allOff()') All Off
ol
    li('*ngFor'='let creator of creators; let i = index')
        span('[class]'='getBackgroundColor(creator)' '(click)' = 'toggleActive(i)') {{creator.title}}