mat-sidenav-container.sidenav-container
  mat-sidenav('*ngIf'='!dataService.isInAddMode'
    "fixedInViewport"="true"
    "[attr.role]"="(isHandset$ | async) ? 'dialog' : 'navigation'"
    "[mode]"="(isHandset$ | async) ? 'over' : 'side'"
    "[opened]"="!(isHandset$ | async) || isDrawerOpen")
    app-side-bar
  mat-sidenav-content
    mat-toolbar(color="primary")
      button(
        "type"="button"
        "aria-label"="Toggle sidenav"
        "mat-icon-button"
        "(click)"="isDrawerOpen = !isDrawerOpen"
        "*ngIf"="isHandset$ | async")
        mat-icon(aria-label="Side nav toggle icon") menu
      span Better YouTube Subscription Feed
    app-groups
      app-top-bar
    mat-nav-list('*ngIf'='!dataService.isInAddMode')
      div('*ngFor'='let listing of dataService.listings')
          a(
            '*ngIf'='isListingActive(listing)'
            'mat-list-item'
            '[href]'='"https://www.youtube.com/watch?v="+listing.video.id' 
            target="_blank") 
            | {{listing.video.publishedAt.split("T")[0]}} --- {{listing.video.title}} --- {{listing.creator.title}}