app-top-bar(id="topBar" [today] = 'today' [startDate]='startDate' [channelId]='channelId')
app-side-bar(id="sideBar" '[creators]'='creators')
app-video-list(id="videoList" '[creators]'='creators' '[listings]'='listings')