app-top-bar(
    id="topBar" 
    '[today]'='today' 
    '[startDate]'='startDate' 
    '[channelId]'='channelId'
    '[buildListings]'='getBuildListingsFunc()')
app-groups(
    '[creators]'='creators'
    '[groups]'='groups'
    '[isInAddMode]'='isInAddMode'
    '[groupToAddTo]'='groupToAddTo')
app-side-bar(
    id="sideBar" 
    '[groups]'='groups'
    '[isInAddMode]'='isInAddMode'
    '[creators]'='creators'
    '[groupToAddTo]'='groupToAddTo')
app-video-list(
    id="videoList" 
    '[isInAddMode]'='isInAddMode'
    '[creators]'='creators'
    '[listings]'='listings')