/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
*{
    vertical-align: top
}
#sideBar{
    display: inline-block;
    width: 3in;
}
#videoList{
    display: inline-block;
    width: 70%;
}
#topBar{
    display: block;
}