div
	button('(click)'= 'isManageMode = !isManageMode; dataService.isInAddMode = false') Manage Groups
	button('(click)'= 'loadGroups()') Load Groups
	button('*ngIf'="isManageMode", '(click)'= 'saveGroups()') Save Groups
form('*ngIf'="isManageMode" '(submit)'= 'createGroup($event)') Create Group:
	input(name='groupName')
	input(type='submit')
span('*ngFor'='let groupName of groupNames') {{groupName}}
	button.b1('(click)'='b1Click(groupName)') {{isManageMode?"manage":"on"}}
	button.b2('(click)'='b2Click(groupName)') {{isManageMode?"remove":"off"}}
br
br