h1 Better YouTube Subscription Feed
form('(submit)'="onSubmit($event)")
    #labels
        label Start:
        br
        label End:
        br
        label Channel Id:
        br
    #inputs
        input(name="startDate" '[value]'="dataService.startDate")
        br
        input(name="today" '[value]'="dataService.today")
        br
        input(name="channelId" '[value]'="dataService.channelId")
        br
    input(type="submit")