h1 Better YouTube Subscription feed
form('(submit)'="onSubmit($event)")
    #labels
        label Start:
        br
        label End:
        br
        label Channel Id:
        br
    #inputs
        input(name="startDate" '[value]'="startDate")
        br
        input(name="today" '[value]'="today")
        br
        input(name="channelId" '[value]'="channelId")
        br
    input(type="submit")